.about {
    @extend %mb-sections;
}

.about_wrapper {

}

.about_heading {
    margin-bottom: 6rem;
}

.about_media {
    position: relative;
    margin-bottom: 3rem;
    overflow: hidden;
}

.about_figure {
    position: relative;
    width: 186rem;
    height: 100rem;
    margin-bottom: 3rem;
}

.about_image {
    @extend %product_image;
}

.about_content {
    align-items: self-end;
    @media (max-width: $breakpoint-tablet) {
        align-items: self-start;
    }
}

.about_content_description {
    grid-area: c1;
    width: 200%;

    @media (max-width: $breakpoint-tablet) {
        width: 100%;
        margin-bottom: 3rem;
    }
}

.about_content_link {
    grid-area: c4;
    p {
        text-align: right;

        @media (max-width: $breakpoint-tablet) {
            text-align: left;
        }
    }
    a {
        font-weight: bold;
    }
}