.about {
    @extend %mb-sections;
}

.about_wrapper {

}

.about_heading {
    margin-bottom: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.about_media {
    position: relative;
    margin-bottom: 3rem;
    overflow: hidden;
}

.about_figure {
    position: relative;
    width: 186rem;
    height: 100rem;
    margin-bottom: 3rem;
}

.about_image {
    @extend %product_image;
}

.about_content {
    @media (max-width: $breakpoint-tablet) {
        align-items: self-start;
    }
}

.about_content_col {
    p {
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &:nth-child(1) {
        grid-area: c1;
    }

    &:nth-child(2) {
        grid-area: c2;
    }

    &:nth-child(3) {
        grid-area: c3;
    }

    &:nth-child(4) {
        grid-area: c4;
    }

    &:nth-child(odd) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    @media (max-width: $breakpoint-tablet) {
        margin-bottom: 6rem;
    }
}

.about_content_col_link {
    font-weight: bold;
}

.about_content_col_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}