.hero {
    margin-top: 12rem;
}

.hero_wrapper {
    margin-bottom: 6rem;
}


.hero_media {
    position: relative;
    margin-bottom: 6rem;

    .hero_figure {
        position: relative;
        width: 186rem;
        height: 192rem;

        .hero_image {
            @extend %product_image
        }
    }
}

.hero_content {
    margin-bottom: 3rem;
    .hero_title {
        grid-area: c1;
        @media (max-width: $breakpoint-tablet) {
            margin-bottom: 3rem;
        }
    }

    .hero_description {
        grid-area: c3;
        width: 200%;
        @media (max-width: $breakpoint-tablet) {
            width: 100%;
        }
    }

    
}

.hero_link h3 {
    grid-area: c3;
    width: 200%;
}

