.home {
    position: relative;
    width: 100%;
    @extend %mb-sections;
}
.home_wrapper {
    height: 100vh;
}

.home_media {
    position: absolute;
    left: 0;
    top: 0;
    margin-bottom: 6rem;
    

    .home_figure {
        position: relative;
        width: 192rem;
        height: 108rem;
        background-color: unset;
        @media (max-width: 820px) {
               height: 50vh;
        }


        .home_image {
            @extend %product_image
        }
    }
}

.home_content {
    position: absolute;
    left: 0;
    bottom: 0;

    margin-bottom: 3rem;
    align-items: self-end;
    @media (max-width: $breakpoint-tablet) {
        align-items: self-start;
    }

    .home_description {
        grid-area: c1;
        width: 200%;
        @media (max-width: $breakpoint-tablet) {
            width: 100%;
            margin-bottom: 3rem;
        }
    }

    .home_label { 
        grid-area: c4;
        text-align: right;
        overflow: hidden;

        transition: opacity 0.5s ease-in-out;
        span {
            @extend %parag;
            display: inline-flex;
            font-weight: bold;
        }   

        span:nth-child(2) {
            margin-left: 0.3rem;
            animation: 1.3s ease-in-out 1s infinite reverse both running anim;
             
        }
    }

    @extend %keyframes;
}



