.loader {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    z-index: 900;
    .loader_wrapper {
        height: inherit;
        padding: 3rem;

        
        background-color: $color-primary;

        .loader_contents {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .loader_desc p{
                line-height: 6rem;
                font-weight: bold;
            }
    
            .loader_perc {
                grid-area: c4;
            }
        }
    }

    .loader_line {
        display: block;
        width: 0;
        // justify-content: center;
        border-bottom: 1px solid $color-secondary;

        .line {
            
            align-self: center;
            width: calc(100% - 6rem);
        }

    }
}

.transition {
    @extend %fixed;
    width: 100%;
    height: 100vh;
    
    transform: translateY(-100%);
    z-index: 999;
    .transition_wrapper {
        background: $color-alternate;
        height: inherit;

        .transition_title {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            .transition_title_el {
                h1 {
                    transform: translateY(-100%);
                    line-height: 9rem;
    
                }
                p {
                    transform: translateY(-200%);
                    line-height: 4rem;
                }
            }

            
        }
    }
}

.banner {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 70rem;
    z-index: 600;

    @media (max-width: $breakpoint-tablet) {
        width: 100%;
    }
    .banner_wrapper {
        position: relative;
        background-color: $color-alternate;
        color: $color-secondary;
        margin: 3rem;
        padding: 3rem;
        @media (max-width: $breakpoint-mobile) {
            padding: 4rem;
        }
        border-radius: 0.1rem;
        box-shadow: 0px 0px 100px 20px rgba(23, 23, 23, 0.05);

        .banner_close {
            position: absolute;
            right: 3rem;
            top: 3rem;
            @media (max-width: $breakpoint-mobile) {
                right: 4rem;
                top: 4rem;
            }

        }

        .banner_title {
            margin-bottom: 2rem; 
            h2 {
                font-size: 3rem;
                line-height: 4rem;
                font-weight: bold;
                @media (max-width: $breakpoint-mobile) {
                    font-size: 4rem;
                }
            }
        }

        .banner_description {
            margin-bottom: 3rem;
            p {
                @extend %parag;
                margin-bottom: 2rem;
            }

            a {
                @extend %parag;
                font-weight: bold;
                text-decoration: underline; 
            }
        }
    }
}

.header {
    @extend %fixed;
    z-index: 700;
    // color: #E4E0DF; 
    // mix-blend-mode:exclusion;

    .header_wrapper {
        width: 100%;
        padding: 3rem;
        
        .header_container {
            display: flex;
            justify-content: space-between;

            .header_logo {
                a {
                    @extend %parag;
                    font-weight: bold;
                }
            }
    
            .header_nav {     
                display: inline-flex;
                span {
                    @extend %parag;
                    margin-left: 3rem;
                    cursor: pointer;

                    @media (max-width: $breakpoint-tablet) {
                        margin-left: 0;
                        margin-bottom: 0.5rem;
                    }
                }
            }

            .header_menu {     
                span {
                    @extend %parag;
                    cursor: pointer;
                }
            }
            
        }

        .header_line {
            margin-top: 3rem;
        }

       
    }

    .header_line {
        display: block;
        width: 100%;
        // justify-content: center;
        border-bottom: 1px solid $color-secondary;

        .line {
            
            align-self: center;
            width: calc(100% - 6rem);
        }

    }
}

.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 800;
    .menu_inner {
        position: relative;
        // height: 50vh;
        padding: 3rem;
        margin: 3rem;
        background-color: $color-alternate;
        box-shadow: 0px 0px 100px 20px rgba(23, 23, 23, 0.05);

        .menu_inner_heading {
            display: inline-flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            margin-bottom: 3rem;
        }

        .menu_inner_line {
            border-bottom: 1px solid $color-secondary;
            margin-bottom: 3rem;
        }

        .menu_inner_links {
            // text-align: right;
            // margin-bottom: 6rem;
            .menu_list {
                display: inline-flex;
                justify-content: space-between;
                align-items: flex-end;
                width: 100%;
                .menu_list_item {
                    width: 20rem;
                    span {
                        @extend %title-h4;
                    }
                }
            }
        }
        
    }
}

.header .is-hidden {
    opacity: 0;
    pointer-events: none;
    
    transition: all 1.5 ease-in-out;
}

.footer {
    position: relative;
    margin-bottom: 3rem;

    .footer_wrapper {
        display: block;
        width: 100%;
        .footer_top {
            .footer_top_logo {
                grid-area: c1;
                h4 {
                    font-size: 3rem;
                    font-weight: bold;
                    line-height: 4rem;
                }
            }

            .footer_top_dark {
                grid-area: c4;
                align-self: flex-end;
                text-align: right;
                overflow: hidden;

                a {
                    display: inline-block;
                    span {
                        @extend %parag
                    }
                }
            }
        }

        .footer_line {
            border-bottom: 1px solid $color-secondary;
            margin: 3rem 0;
        }

        .footer_bottom {
            .footer_bottom_craft {
                grid-area: c1;
                a {
                    font-weight: bold;
                }
                
            }

            .footer_bottom_development {
                grid-area: c3;
                a {
                    font-weight: bold;
                }
            }

            .footer_bottom_backtotop {
                grid-area: c4;
                text-align: right;
                overflow: hidden;  
            }
        }
    }
}

.error {
    @extend %fixed;
    width: 100%;

    .error_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100vh;
    }
    .error_container {
        text-align: center;

    }
}