extends ../base.pug

include ../partials/mixins

block container 
    main.container(data-smoothscroll="container" data-template="404")
        section.content(data-smoothscroll="content")
           

            
                    
                        