extends ../base.pug

include ../partials/mixins

block container 
    main.container(data-smoothscroll="container" data-template="contact")
        section.content(data-smoothscroll="content")

            