doctype html
html(lang="en")
    head
        include ./partials/head

    body
        include ./partials/preloader
        //- include ./partials/banner

        include ./partials/header
        //- include ./partials/menu

        block container

        .noise