doctype html
html(lang="en-US")
    head
        include ./partials/head

    body
        include ./partials/transition
        include ./partials/preloader
        include ./partials/banner

        include ./partials/header

        block container

        .noise