$color-primary: #E4E0DF;
$color-secondary: #171717;
$color-gradient: linear-gradient(180deg, #A7A6AC 0%, #E4E0DF 86.46%);
// $color-gradient: linear-gradient(180deg, #212121 0%, #313131 86.46%);
$color-alternate: #F5F5F5;

//? Easing
$easeInOutCubic: cubic-bezier(0.65, 0, 0.35, 1);
$easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);

//?Breakpoints
$breakpoint-bigScreen: 1920px;
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 820px;
$breakpoint-mobile: 500px;
