.banner 
    .banner_wrapper 

        .banner_close 
            a(href="/")|&#10006;

        .banner_title 
            p|Try our web application! 

        .banner_description 
            p|This web site allows you to install it as progressive web application. Click the button below to install!
            p|For more information about this feature 
                a(href="https://developer.mozilla.org/en-US/docs/Web/Progressive_web_apps" target="_blank")| click here

        .banner_button
            button|Install

            