.banner 
    .banner_wrapper 
        .banner_close 
            a(href="/")|&#10006;

        .banner_title 
            h2|Try our web application! 

        .banner_description 
            p|This web site allows the installation of a progressive web application. Click the button below to install!
            a(href="https://developer.mozilla.org/en-US/docs/Web/Progressive_web_apps" target="_blank")| Read more about Progressive Web Apps.

        .banner_button
            button|Install

            