include ./mixins

section.footer
    .footer_wrapper
        .footer_info(class='grid', data-scroll="item")
            .footer_link
                a(href="https://www.linkedin.com/in/bruno-bosco"  class='hover hover--link') 
                    |Linkedin
            .footer_link
                a(href="https://github.com/Celebrerr" target='blank' class='hover hover--link') 
                    |Github
                

            .footer_link
                p 
                    span|&copy; 2022 
                    |Bruno Bosco
                    
        .footer_container
            figure