section.footer
    .footer_wrapper
        .footer_top(class="grid")
            .footer_top_logo
                h4|CALÉ(E)
                p|A collection designed by 
                    a(href="http://poolstudio.fr/" target='_blank' class="hover hover--link")|Pool  

            .footer_top_dark
                a(href="/" class="hover hover--link") 
                    span|☀ 
                    span|Dark mode

        .footer_line

        .footer_bottom(class="grid")
            .footer_bottom_craft
                p
                    |Manufactered by 
                    a(href="https://www.cvl-luminaires.fr/" target='_blank' class="hover hover--link")|CVL
            
            .footer_bottom_development 
                p
                    |Designed and Developed 
                    a(href="https://brunobosco.com/" target='_blank' class="hover hover--link")|Bruno Bosco
            
            .footer_bottom_backtotop 
                a(href="/" class="hover hover--link")|Back to top