include ./mixins

section.header 
    .header_wrapper 
        .header_container
            .header_logo
                a(href="/" class='project_link hover hover--link') 
                    |CALÉ(E)

            .header_nav.is-desktop
                a(href="gallery.html" class='project_link hover hover--link') 
                    |Gallery
                    
                a(href="about.html" class='project_link hover hover--link') 
                    |About
                    
                a(href="contact.html" class='project_link hover hover--link') 
                    |Contact
        

            .nav_menu.action--open.is-mobile
                a(href="/") 
                    |menu
    
        .header_line

