.menu
    .menu_inner
        .menu_inner_heading   
            .menu_logo
                a(href="/" class='project_link hover hover--link') 
                    |CALÉ(E)

            .menu_close
                a(href="/")|&#10006;

        .menu_inner_line

        .menu_inner_links
            ul.menu_list
                li.menu_list_item 
                    span(class='hover hover--link to_gallery')|1. Gallery
 
                li.menu_list_item 
                    span(class='hover hover--link to_about')|2. About
                    
                li.menu_list_item 
                    span(class='hover hover--link to_contact')|3. Contact
                
        //- .menu_inner_extra
        //-     .menu_dark
        //-         a(href="/") 
        //-             span|☀ 
        //-             span|Dark mode