.menu
    .menu_inner
        ul.menu_inner-list
            li.menu-item 
                a(href="gallery.html" class='project_link menu-link')|Casi Studio
                

            li.menu-item 
                a(href="about.html" class='project_link menu-link')|About
                

            li.menu-item 
                a(href="contact.html" class='project_link menu-link')|Contatti
                

    .menu_overlay