include ./mixins

.loader 
    .loader_wrapper(class='grid')
        .loader_desc.ofh
            p
               |&#x25CF; B
               
        .loader_desc.ofh
            p|.brunobosco

        .loader_perc.ofh
            h3
                |0
        