include ./mixins

.transition 
    .transition_wrapper
        .transition_title
            .transition_title_el.ofh
                h1|CALÉ(E)
            .transition_title_el.ofh
                p|A collection by Pool
        