@font-face {
    font-family: 'Mori';
    src: url('../fonts/mori.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mori';
    src: url('../fonts/mori.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mori';
    src: url('../fonts/mori-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mori';
    src: url('../fonts/mori-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Questrial';
    src: url('../fonts/questrial.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Questrial';
    src: url('../fonts/questrial.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
